.app {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  max-width: 100%;
  overflow-x: hidden;
}

/* .grecaptcha-badge { 
  visibility: hidden !important;
} */

.github-fork-ribbon::before {
  background-color: #272727;
}
